<!-- 1. Use Flex Layout for our Menu component -->
<!-- 1.1. Container w/ fxlayout style and gap -->
<div  class="container"
      fxLayout="column"
      fxLayoutGap="10px">

  
  <!-- 1.2. Title -->
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <!-- 1.3. Material Grid List -->
  <!-- 1.3.1. flex wrapper -->
  <div fxFlex>
    <!-- 1.3.2. grid list -->
    <mat-grid-list cols="2" rowHeight="200px">
      <!-- 1.3.2.1. grid tile (or element) -->
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <!-- 1.3.2.1.a - img -->
        <img src="{{dish.image}}" alt="{{dish.name}}" height="200px">
        <!-- 1.3.2.1.b - footer -->
        <mat-grid-tile-footer><h1 matLine>{{ dish.name | uppercase }}</h1></mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
 
