
<!-- NB -->
<!-- fxLayout="row wrap" -->
  <!-- <div fxFlex="100"> -->
    <!-- <div>
      <h3>{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div> -->




<!-- 1. container -->
<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <!-- 1.a section 1 -->
  <div fxFlex="100">
  <!-- 1.a.1. Material Card -->
  <!-- 1.a.1.1. flex wrapper w/ structural directive If -->
      <!-- 1.a.1.1.1. Material Card -->
      <mat-card>
        <!-- 1.a.1.1.1.a - header -->
        <mat-card-header>
          <mat-card-title><h3>{{ dish.name | uppercase }}</h3></mat-card-title>
        </mat-card-header>
        <!-- 1.a.1.1.1.b - img -->
        <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}">
        <!-- 1.a.1.1.1.c - content -->
        <mat-card-content><p>{{ dish.description }}</p></mat-card-content>
        <!-- 1.a.1.1.1.d - actions -->
        <mat-card-actions>
          <button mat-button (click)="goBack()">BACK</button> <!-- NB -->
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>  
  </div>

  <!-- 1.b section 2 -->
  <div fxFlex="40" >
    <!-- 1.b.1. List -->
    <mat-list *ngIf="dish">
      <!-- 1.b.2. Header -->
      <h2>{{ title }}</h2>
      <!-- 1.b.2.1. List Item w/ iteration and 3 lines-->
      <mat-list-item *ngFor="let comment of dish.comments">
        <h3 matLine>{{ comment.comment }}</h3>
        <p matLine>{{ comment.rating }} Stars</p>
        <p matLine>
          <span> -- {{ comment.author }} {{ comment.date | date }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  
  </div>

</div>
  